@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');
.resume {
    background-color: white;
    width: 700px;
    height: 1000px;
    margin-right: 1rem;
    border-radius: 10px;
    padding-left: 4rem;
    padding-right: 4rem;
}
.name {
    text-align: center;
    margin-top: 3rem;
    font-family: 'Bree Serif', serif;
    font-size: 2.5rem;
    margin-bottom: 0;
    color: rgb(93, 77, 77);
}
.email {
    font-size: 1rem;
    /* text-align: center; */
}

.emailPhone {
    display: flex;
   justify-content: center;
   gap: 1rem;
}
hr{
    width: 85%;
    border: 1px solid rgb(167, 163, 163);
}
h4 {
    margin: 0;
    margin-top: 2rem;
    color: rgb(93, 77, 77);
    font-size: 1.2rem;
}
.education{
    margin-left: 2rem;
}
.education p {
    font-weight: 500;
    line-height: 10px;
    text-transform: capitalize;
}
.education .degree {
    text-transform: uppercase;
}
.education .date {
    display: inline;
    font-weight: normal;
}