@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');
.resume {
    background-color: white;
    width: 800px;
    height: 1000px;
    margin-right: 1rem;
    border-radius: 10px;
}
.name {
    text-align: center;
    margin-top: 3rem;
    font-family: 'Bree Serif', serif;
    font-size: 2.5rem;
    margin-bottom: 0;
    color: rgb(93, 77, 77);
}
.email {
    font-size: 1rem;
    /* text-align: center; */
}

.emailPhone {
    display: flex;
   justify-content: center;
   gap: 1rem;
}
hr{
    width: 85%;
    border: 1px solid rgb(167, 163, 163);
}
